* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    background-color: var(--color-surface);
    line-height: var(--line-height-normal);
}

:root {
    --color-surface: #060606;
    --color-on-surface: #ededed;

    --color-surface-container: black;
    --color-surface-container-inactive: #111;

    --color-success: #179534;
    --color-on-success: #011200;

    --color-warn: #ff8500;
    --color-on-warn: #2b1e0069;

    --color-error: #dd1414;
    --color-on-error: #1a0208;

    --color-info: #2c74e0;
    --color-on-info: #000d24;

    --color-disabled: #7d7d7d;

    --color-highlight: cadetblue;

    --color-neutral: #060606;

    --color-random-1: #FF5733;
    --color-random-2: #1A33FF;

    --padding-large: 20px;
    --padding-normal: 13px;
    --padding-small: 8px;

    --font-family: "Roboto", sans-serif;
    --font-size-small: 12px;
    --font-size-normal: 14px;
    --font-size-large: 18px;
    --font-weight-bold: 500;

    --line-height-normal: 1.4;

    --radius: 10px;
    --radius-circle: 50%;
}

body.light {
    --color-surface: #F5F5F5;
    --color-on-surface: #252525;

    --color-surface-container: white;
    --color-surface-container-inactive: whitesmoke;

    --color-success: #179534;
    --color-on-success: #e0ffde;

    --color-warn: #ff8500;
    --color-on-warn: #ffe8b369;

    --color-error: #dd1414;
    --color-on-error: #ffe5ec;

    --color-info: #0a49a8;
    --color-on-info: #d0e1ff;

    --color-disabled: #a1a1a1;

    --color-highlight: cadetblue;

    --color-neutral: #060606;
}

.window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
}

.window-body {
    background-color: var(--color-surface-container);
    width: 350px;
    max-height: 100vh;
    overflow-y: scroll;
    border-radius: var(--radius);
}

.title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-on-surface);
    text-align: center;
    padding: var(--padding-large);
}

.form-row {
    padding: var(--padding-normal);
    position: relative;
}

.form-input {
    width: 100%;
    background-color: var(--color-surface-container-inactive);
    /*padding: var(--padding-normal);*/
    /* border instead padding for hide chrome autofill border */
    border: var(--padding-normal) solid var(--color-surface-container-inactive);
    border-radius: var(--radius);
    color: var(--color-on-surface);
    position: relative;
}

/* for customize other browsers autofill background color and text color */
input:autofill {
    background: var(--color-surface-container-inactive);
    color: var(--color-on-surface);
}

/* for customize chrome autofill background color and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--color-surface-container-inactive) inset;
    -webkit-text-fill-color: var(--color-on-surface);
}

.form-label {
    font-size: var(--font-size-small);
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25px, 15%);
    color: var(--color-highlight);
}

.button {
    width: 100%;
    background-color: var(--color-surface-container);
    color: var(--color-on-surface);
    border-radius: var(--radius);
    padding: var(--padding-normal);
    font-weight: var(--font-weight-bold);
    font-size: inherit;
}

.button:hover {
    background-color: var(--color-surface-container-inactive);
}

.oidc-providers {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-small);
}

.oidc-provider {
    background-color: var(--color-surface-container-inactive);
    color: var(--color-on-surface);
    border-radius: var(--radius);
    padding: var(--padding-normal);
    font-weight: var(--font-weight-bold);
    font-size: inherit;
    flex: 1;
    text-align: center;
}

.oidc-provider:hover {
    text-decoration: underline;
    background: linear-gradient(45deg, var(--color-random-1), var(--color-random-2));
    color: var(--color-neutral);
}

.link {
    display: block;
    text-align: center;
    font-weight: var(--font-weight-bold);
    color: var(--color-highlight);
    padding-bottom: var(--padding-normal);
}

.link:hover {
    text-decoration: underline;
}

.checkbox-action {
    display: flex;
    align-items: center;
}

.checkbox {
    display: none;
}

.checkbox-label {
    color: var(--color-on-surface);
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-text {
    padding-left: var(--padding-small);
}

.error-container, .success-container, .info-container, .warn-container {
    padding: calc(var(--padding-normal) - 4px);
    border-radius: var(--radius);
    background-color: var(--color-on-error);
    color: var(--color-error);
    display: flex;
    align-items: center;
}

.success-container {
    background-color: var(--color-on-success);
    color: var(--color-success);
}

.info-container {
    background-color: var(--color-on-info);
    color: var(--color-info);
}

.warn-container {
    background-color: var(--color-on-warn);
    color: var(--color-warn);
}

.error-container-text, .success-container-text, .info-container-text, .warn-container-text {
    padding-left: var(--padding-small);
}

.row {
    margin: var(--padding-normal) 0;
}

.info-row {
    padding: var(--padding-large);
}

.info-row:not(:last-child) {
    padding-bottom: 0;
}

.buttons {
    display: flex;
    align-items: center;
    gap: var(--padding-normal);
}

.button-with-icon {
    display: flex;
    align-items: center;
    padding: calc(var(--padding-normal) - 4px);
}

.button-text {
    padding-left: var(--padding-small);
}

.button-icon {
}

.theme-switcher {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--padding-normal);
}

.button-with-icon-circle {
    border-radius: var(--radius-circle);
}

.theme-switcher:hover {
    color: var(--color-highlight);
}

.text-bold {
    font-weight: var(--font-weight-bold);
}

.password-viewer-icon {
    color: var(--color-highlight);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-23px, 23px);
    cursor: pointer;
}

@media (max-width: 350px) {
    .window {
        background-color: var(--color-surface-container);
    }
}