<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{'/css/style.css'}">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{'favicon.ico'}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title th:text="#{consent}">Consent</title>
    <style>
        .form-row {
            padding: var(--padding-normal) 0;
        }

        .button {
            background-color: var(--color-surface);
        }
    </style>
</head>
<body>
<div class="window">
    <div class="window-body">
        <div class="info-row">
            <div class="info-container">
                <span class="material-symbols-outlined info-container-icon">info</span>
                <span class="info-container-text"
                      th:utext="#{authorization_consent_title.html(${clientId}, ${principalName})}">
                    The application <span class="text-bold">{clientId}</span> wants to access your account
                    <span class="text-bold">{username}</span>
            </span>
            </div>
        </div>
        <div class="info-row">
            <div class="info-container">
                <span class="material-symbols-outlined info-container-icon">info</span>
                <span class="info-container-text" th:utext="#{authorization_consent_description.html}">
                <span>The following permissions are requested by the above app.<br/>Please review these and consent if you approve.</span>
            </span>
            </div>
        </div>
        <div class="info-row">
            <form class="form auto-consent-form" id="authConsentForm" method="post" action="#"
                  th:action="@{'/oauth2/authorize'}">
                <div class="form-row" hidden="hidden">
                    <input class="form-input" id="clientId" name="client_id" th:value="${clientId}">
                    <label class="form-label" for="clientId">Client ID</label>
                </div>
                <div class="form-row" hidden="hidden">
                    <input class="form-input" id="state" name="state" th:value="${state}">
                    <label class="form-label" for="state">State</label>
                </div>
                <div class="form-row scopes" th:each="scope: ${scopes}">
                    <div class="checkbox-context">
                        <input class="checkbox" th:id="${scope}" name="scope" th:value="${scope}" type="checkbox">
                        <label class="checkbox-label" th:for="${scope}">
                            <span class="material-symbols-outlined checkbox-icon">check_box_outline_blank</span>
                            <span class="checkbox-text" th:text="${scope}">{scope}</span>
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="buttons">
                        <button class="button button-with-icon">
                            <span class="material-symbols-outlined button-icon">done</span>
                            <span class="button-text" th:text="#{permit}">Permit</span>
                        </button>
                        <button class="button button-with-icon" onclick="cancelConsent()">
                            <span class="material-symbols-outlined button-icon">close</span>
                            <span class="button-text" th:text="#{cancel}">Cancel</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="info-row">
            <div class="info-container">
                <span class="material-symbols-outlined info-container-icon">info</span>
                <div class="info-container-text" th:utext="#{authorization_consent_info.html}">
                    <small>Your consent to provide access is required.<br/>If you do not approve, click Cancel, in
                        which case no information will be shared with the app.</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="theme-switcher">
    <button class="button button-with-icon button-with-icon-circle" onclick="toggleTheme()">
        <span id="themeIcon" class="material-symbols-outlined button-icon">dark_mode</span>
    </button>
</div>
<script>
    function cancelConsent() {
        document.querySelector("#authConsentForm").reset();
        document.querySelector("#authConsentForm").submit();
    }
</script>
<script src="../static/js/common.js" th:src="@{'/js/common.js'}"></script>
</body>
</html>