<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Verification</title>
    <style>
        .container {
            max-width: 1440px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <main class="main">
        <section class="email-verification-section">
            <div class="container">
                <div class="email-verification-section-body">
                    <p>Please verify your email address</p>
                    <a href="#verificationUri">#verificationUri</a>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>