<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{'/css/style.css'}">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{'favicon.ico'}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title th:text="#{login}">Login</title>
</head>
<body>
<div class="window">
    <div class="window-body">
        <p class="title" th:text="#{access_restoration}">Access restoration</p>
        <form class="form" id="registerForm" method="post" th:action="@{'/password/forget'}">
            <div class="form-row">
                <div class="info-container">
                    <span class="material-symbols-outlined info-container-icon">info</span>
                    <span class="info-container-text" th:text="#{password_forget_title}">
                        <span>If you have forgotten your password, please write your email address</span>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <input class="form-input" id="email" type="email" name="email">
                <label class="form-label" for="email" th:text="#{email}">Email</label>
            </div>
            <div class="form-row" th:if="${emailInvalid != null}">
                <div class="error-container">
                    <span class="material-symbols-outlined error-container-icon">error</span>
                    <span class="error-container-text" th:text="${emailInvalid}">
                        <span>The email address invalid!</span>
                    </span>
                </div>
            </div>
            <div class="form-row" th:if="${userNotFoundByEmail != null}">
                <div class="error-container">
                    <span class="material-symbols-outlined error-container-icon">error</span>
                    <span class="error-container-text" th:text="${userNotFoundByEmail}">
                        <span>The user by email not found!</span>
                    </span>
                </div>
            </div>
            <div class="form-row" th:if="${somethingWentWrong}">
                <div class="error-container">
                    <span class="material-symbols-outlined error-container-icon">error</span>
                    <span class="error-container-text" th:text="#{something_went_wrong}">
                        <span>Something went wrong :(</span>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <button class="button" th:text="#{restore_access}">Restore access</button>
            </div>
            <div class="form-row" th:if="${emailSent}">
                <div class="success-container">
                    <span class="material-symbols-outlined success-container-icon">done</span>
                    <span class="success-container-text" th:text="#{message_sent_to_email}">
                        <span>A message has been sent to your email address</span>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <a class="link" href="login.html" th:href="@{'/login'}" th:text="#{login}">Login</a>
            </div>
        </form>
    </div>
</div>
<div class="theme-switcher">
    <button class="button button-with-icon button-with-icon-circle" onclick="toggleTheme()">
        <span id="themeIcon" class="material-symbols-outlined button-icon">dark_mode</span>
    </button>
</div>
<script src="../static/js/common.js" th:src="@{'/js/common.js'}"></script>
</body>
</html>