<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:replace="~{fragments/meta}">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{'/css/style.css'}">
    <style>
        .header {
            border-bottom: 1px solid black;
        }

        .header-body {
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }

        .spacer {
            flex: 1 1 auto;
        }

        .logout-popup-body {
            width: 260px;
            border: 1px solid black;
            padding: 20px;
            background-color: #ededed;
            z-index: 1000;
            box-shadow: 4px 4px 4px -3px purple;
        }

        .logout-form-title {
            padding: 10px 10px 20px 10px;
            font-size: 18px;
        }

        .logout-form-action {
            width: 100px;
            position: relative;
        }

        .logout-action {
            width: 100px;
            background-color: transparent;
            color: black;
        }

        .logout-action:hover {
            background-color: black;
            color: white;
        }

        .logout-popup {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.8s cubic-bezier(.08, .93, .31, .97);
        }

        .logout-popup.active {
            visibility: visible;
            opacity: 1;
        }

        .text-underline:hover {
            text-decoration: underline;
        }

        .userinfo {
            display: flex;
            align-items: center;
        }

        .userinfo-picture {
            margin-right: 10px;
            border-radius: 50%;
        }

        .profile-section {
            margin-top: 60px;
        }

        .profile-section-body {
            padding: 0 10px;
        }

        .profile-section-col-picture {
            width: 300px
        }

        .profile-section-col-forms {
            width: 100%
        }

        .profile-section-cols {
            display: flex;
        }

        .personal-data-form, .change-picture-form {
            margin-bottom: 20px;
        }

        .personal-data-form-label, .change-password-form-label {
            color: purple;
        }

        .sessions-section-body {
            padding: 0 10px;
            overflow-x: auto;
        }

        .sessions-table-title-row {
            background-color: purple;
        }

        .sessions-table {
            min-width: 1200px;
        }

        .sessions-section {
            padding-bottom: 20px;
        }

        .sessions-section-title {
            font-size: 18px;
            padding: 0 0 10px 10px;
            color: cornflowerblue;
        }

        .text-center {
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            .profile-section-cols {
                flex-direction: column;
            }

            .profile-section-col-picture {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .profile-section {
                margin-top: 20px;
            }

            .sessions-section-title {
                padding: 0 0 10px 0;
            }
        }
    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-body">
            <div class="userinfo">
                <img class="userinfo-picture" id="profilePictureSmall" src="../static/img/avatar.svg" th:src="@{'/img/avatar.svg'}" width="40" height="40" alt>
                <p class="success-text text-underline">Hi <span id="profileName" class="text-bold-600">John Doe</span>, you are successfully authorized!</p>
            </div>
            <span class="spacer"></span>
            <div class="logout">
                <button class="action logout-action" id="logoutAction">
                    <span class="text-bold-600">Logout</span>
                </button>
            </div>
        </div>
    </div>
</header>
<div class="popup logout-popup" id="logoutPopup">
    <div class="container">
        <div class="container-center">
            <div class="popup-body logout-popup-body">
                <form class="form logout-form" method="post" action="#" th:action="@{'/logout'}">
                    <p class="logout-form-title text-bold-600">Logout?</p>
                    <div class="form-actions-row">
                        <button class="action logout-form-action logout-form-action-yes" type="submit">Yes</button>
                        <button class="action logout-form-action logout-form-action-no" id="logoutActionNo">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="profile-section">
        <div class="container">
            <div class="profile-section-body">
                <div class="profile-section-cols">
                    <div class="profile-section-col-picture">
                        <img class="userinfo-picture" id="profilePictureLarge" src="../static/img/avatar.svg" th:src="@{'/img/avatar.svg'}" width="200" height="200" alt>
                    </div>
                    <div class="profile-section-col-forms">
                        <form class="form personal-data-form" id="personalDataForm">
                            <p class="form-title personal-data-form-title text-bold-600">Personal data</p>
                            <div class="form-row personal-data-form-row">
                                <div class="form-row-cols">
                                    <div class="form-row-col" hidden>
                                        <label class="form-label personal-data-form-label" for="id">Id</label>
                                        <input class="form-input personal-data-form-input" id="id" name="id" type="text" th:value="${user.id}">
                                    </div>
                                    <div class="form-row-col">
                                        <label class="form-label personal-data-form-label" for="name">Name</label>
                                        <input class="form-input personal-data-form-input" id="name" name="name" type="text">
                                    </div>
                                    <div class="form-row-col">
                                        <label class="form-label personal-data-form-label" for="familyName">Family Name</label>
                                        <input class="form-input personal-data-form-input" id="familyName" name="familyName" type="text">
                                    </div>
                                    <div class="form-row-col">
                                        <label class="form-label personal-data-form-label" for="email">Email</label>
                                        <input class="form-input personal-data-form-input" id="email" name="email" type="email" th:value="${user.email.address}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row personal-data-form-row" id="personalDataFormErrors" hidden></div>
                            <div class="form-row personal-data-form-row">
                                <button class="action personal-data-form-action personal-data-form-action-submit" id="personalDataEditAction" type="submit">Edit</button>
                            </div>
                        </form>
                        <form class="change-picture-form" id="changePictureForm">
                            <p class="form-title personal-data-form-title text-bold-600">Change Picture</p>
                            <div class="form-row change-password-form-row">
                                <div class="form-row-cols change-picture-form-row-cols">
                                    <div class="form-row-col change-picture-form-row-col">
                                        <label for="picture"></label>
                                        <input class="form-input-file change-picture-form-input-file" id="picture" name="picture" type="file">
                                    </div>
                                    <div class="form-row-col change-picture-form-row-col">
                                        <button class="action change-picture-form-action change-picture-form-action-submit" type="submit">Apply</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row change-picture-form-row" id="changePictureFormErrors" hidden></div>
                        </form>
                        <form class="change-password-form" id="changePasswordForm">
                            <p class="form-title personal-data-form-title text-bold-600">Change Password</p>
                            <div class="form-row change-password-form-row">
                                <div class="form-row-cols change-password-form-row-cols">
                                    <div class="form-row-col change-picture-form-row-col">
                                        <label class="form-label change-password-form-label" for="oldPassword">Old Password</label>
                                        <input class="form-input change-password-form-input" id="oldPassword" name="oldPassword" type="password">
                                    </div>
                                    <div class="form-row-col change-picture-form-row-col">
                                        <label class="form-label change-password-form-label" for="newPassword">New Password</label>
                                        <input class="form-input change-password-form-input" id="newPassword" name="newPassword" type="password">
                                    </div>
                                    <div class="form-row-col change-picture-form-row-col">
                                        <label class="form-label change-password-form-label" for="confirmPassword">Confirm Password</label>
                                        <input class="form-input change-password-form-input" id="confirmPassword" name="confirmPassword" type="password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row change-password-form-row" id="changePasswordFormErrors" hidden></div>
                            <div class="form-row change-password-form-row">
                                <button class="action change-password-form-action change-password-form-action-submit" type="submit">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="sessions-section">
            <div class="container">
                <div class="sessions-section-body">
                    <p class="sessions-section-title text-bold-600">Sessions</p>
                    <table class="table sessions-table">
                        <thead>
                        <tr class="table-row table-title-row sessions-table-row sessions-table-title-row">
                            <th class="table-title sessions-table-title">ID</th>
                            <th class="table-title sessions-table-title">IP</th>
                            <th class="table-title sessions-table-title">Last Logged In</th>
                            <th class="table-title sessions-table-title">Agent</th>
                            <th class="table-title sessions-table-title">Current</th>
                            <th class="table-title sessions-table-title">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="sessionsTableBody"></tbody>
                    </table>
                    <div class="table-actions-errors sessions-table-actions-errors" id="sessionsTableActionsErrors" hidden></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../static/js/common.js" th:src="@{'/js/common.js'}"></script>
<script>
    const logoutAction = document.querySelector("#logoutAction");
    logoutAction.addEventListener("click", () => {
        const logoutPopup = document.querySelector("#logoutPopup")
        logoutPopup.classList.add("active");
    });
    const logoutActionNo = document.querySelector("#logoutActionNo");
    logoutActionNo.addEventListener("click", event => {
        event.preventDefault();
        const logoutPopup = document.querySelector("#logoutPopup")
        logoutPopup.classList.remove("active");
    });

    const userId = document.querySelector("#id").value;

    window.onload = () => {
        renderUser();
        renderSessions();
    }

    function renderUser() {
        getUser().then(user => {
            renderPersonalDataForm(user);
            renderProfileName(user);
            renderProfilePicture(user);
        });
    }

    const personalDataForm = document.querySelector("#personalDataForm");

    function renderPersonalDataForm(user) {
        personalDataForm.name.value = user.name;
        personalDataForm.familyName.value = user.familyName;
    }

    function renderProfileName(user) {
        const profileName = document.querySelector("#profileName");
        if (user.name && user.familyName) {
            profileName.innerText = `${user.name} ${user.familyName}`;
        } else if (user.name) {
            profileName.innerText = user.name;
        } else if (user.familyName) {
            profileName.innerText = user.familyName;
        } else profileName.innerText = user.email.address;
    }

    function renderProfilePicture(user) {
        if (user.picture) {
            document.querySelector("#profilePictureSmall").src = user.picture.url;
            document.querySelector("#profilePictureLarge").src = user.picture.url;
        }
    }

    function getUser() {
        return new Promise((resolve, reject) => {
            fetch(`${endpoints.users}/${userId}`, {
                method: "get",
                headers: {
                    "Accept": "application/json",
                    "Accept-Language": "en-US"
                }
            }).then(handleUnauthorized).then(response => {
                response.ok
                    ? response.json().then(user => resolve(user))
                    : response.json().then(error => reject(error));
            }).catch(error => {
                throw new Error(`Error on get user by email '${userId}' : ${error.message}`);
            });
        });
    }

    personalDataForm.addEventListener("submit", event => {
        event.preventDefault();
        const userEditRequest = {
            name: personalDataForm.name.value,
            familyName: personalDataForm.familyName.value
        }
        const personalDataFormErrors = document.querySelector("#personalDataFormErrors");
        personalDataFormErrors.innerHTML = null;
        editUser(userEditRequest)
            .then(() => {
                renderUser();
            }, error => {
                renderErrors(personalDataFormErrors, error);
            });
    });


    function editUser(user) {
        return new Promise((resolve, reject) => {
            fetch(`${endpoints.users}/${userId}`, {
                method: "put",
                body: JSON.stringify(user),
                headers: withCsrfToken(new Headers({
                    "Content-Type": "application/json",
                }))
            }).then(handleUnauthorized).then(response => {
                response.status === 204
                    ? resolve()
                    : response.json().then(error => reject(error));
            }).catch(error => {
                throw new Error(`Error on edit user by email ${userId} : ${error.message}`);
            });
        });
    }

    const changePictureForm = document.querySelector("#changePictureForm");
    changePictureForm.addEventListener("submit", event => {
        event.preventDefault();
        if (changePictureForm.picture) {
            const picture = changePictureForm.picture.files[0];
            const multipartFormData = new FormData();
            if (picture) {
                multipartFormData.append("picture", picture);
                const changePictureFormErrors = document.querySelector("#changePictureFormErrors");
                changePictureFormErrors.innerHTML = null;
                changeUserPicture(multipartFormData).then(() => {
                    renderUser();
                }, error => {
                    renderErrors(changePictureFormErrors, error);
                });
            }
        }
    });

    function changeUserPicture(multipartFormData) {
        return new Promise((resolve, reject) => {
            fetch(`${endpoints.users}/${userId}/picture`, {
                method: "post",
                body: multipartFormData,
                headers: withCsrfToken(new Headers())
            }).then(handleUnauthorized).then(response => {
                response.status === 204
                    ? resolve()
                    : response.json().then(error => reject(error));
            }).catch(error => {
                throw new Error(`Error on change user picture : ${error.message}`);
            });
        });
    }

    const changePasswordForm = document.querySelector("#changePasswordForm");
    changePasswordForm.addEventListener("submit", event => {
        event.preventDefault();
        const oldPassword = changePasswordForm.oldPassword.value;
        const newPassword = changePasswordForm.newPassword.value;
        const confirmPassword = changePasswordForm.confirmPassword.value;
        const changePasswordFormErrors = document.querySelector("#changePasswordFormErrors");
        changePasswordFormErrors.innerHTML = null;
        changePassword(oldPassword, newPassword, confirmPassword).then(() => {
        }, error => {
            renderErrors(changePasswordFormErrors, error);
        })
    });

    function changePassword(oldPassword, newPassword, confirmPassword) {
        return new Promise((resolve, reject) => {
            fetch(`${endpoints.users}/${userId}/password?oldPassword=${oldPassword}&newPassword=${newPassword}&confirmPassword=${confirmPassword}`, {
                method: "put",
                headers: withCsrfToken(new Headers())
            }).then(response => {
                response.status === 204
                    ? resolve()
                    : response.json().then(error => reject(error));
            }).catch(error => {
                throw new Error(`Error on change user password : ${error.message}`);
            })
        });
    }

    function renderSessions() {
        getSessions().then(sessions => {
            const sessionsTableBody = document.querySelector("#sessionsTableBody");
            let content = "";
            sessions.forEach(session => {
                content += `
                    <tr class="table-row session-table-row">
                        <td class="table-data sessions-table-data">${session.id}</td>
                        <td class="table-data sessions-table-data">${session['remoteAddress']}</td>
                        <td class="table-data sessions-table-data">${new Date(session['lastRequest'])}</td>
                        <td class="table-data sessions-table-data">${session['userAgent']}</td>
                        <td class="table-data sessions-table-data text-center">${session['isCurrent'] === true ? '&#9989;' : '&#10062;'}</td>
                        <td class="table-data sessions-table-data">
                            <button class="action" onclick="removeSessionHandler('${session.id}')">Remove</button>
                        </td>
                    </tr>`
            });
            sessionsTableBody.innerHTML = content;
        });
    }

    function getSessions() {
        return new Promise(resolve => {
            fetch(`${endpoints.sessions}`, {
                method: "get",
                headers: {
                    "Accept": "application/json"
                }
            }).then(handleUnauthorized).then(response => {
                if (response.ok) {
                    response.json().then(sessions => resolve(sessions))
                }
            }).catch(error => {
                throw new Error(`Error on get sessions : ${error.message}`);
            });
        });
    }

    function removeSessionHandler(sessionId) {
        const sessionsTableActionsErrors = document.querySelector("#sessionsTableActionsErrors");
        sessionsTableActionsErrors.innerHTML = null;
        removeSession(sessionId).then(() => {
            renderSessions();
        }, error => {
            renderErrors(sessionsTableActionsErrors, error);
        });
    }

    function removeSession(sessionId) {
        return new Promise((resolve, reject) => {
            fetch(`${endpoints.sessions}/${sessionId}`, {
                method: "delete",
                headers: withCsrfToken(new Headers())
            }).then(handleUnauthorized).then(response => {
                response.status === 204
                    ? resolve()
                    : response.json().then(error => reject(error));
            }).catch(error => {
                throw new Error(`Error on remove session : ${error.message}`);
            });
        });
    }
</script>
</body>
</html>