<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="csrfToken" th:content="${_csrf.token}">
    <meta name="csrfHeaderName" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{'/css/style.css'}">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{'favicon.ico'}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title th:text="#{register}">Register</title>
</head>
<body>
<div class="window">
    <div class="window-body">
        <p class="title" th:text="#{registration}">Registration</p>
        <form class="form" id="registerForm">
            <div class="form-row" th:if="${registerAsAdmin}">
                <div class="info-container">
                    <span class="material-symbols-outlined info-container-icon">info</span>
                    <span class="info-container-text" th:text="#{register_as_admin}">
                        <span>You are the first user, register as administrator.</span>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <input class="form-input" id="email" type="email" name="email">
                <label class="form-label" for="email" th:text="#{email}">Email</label>
            </div>
            <div class="form-row password-viewer-context">
                <input class="form-input password-input" id="password" type="password" name="password">
                <label class="form-label" for="password" th:text="#{password}">Password</label>
                <span class="material-symbols-outlined password-viewer-icon">visibility</span>
            </div>
            <div class="form-row password-viewer-context">
                <input class="form-input password-input" id="passwordConfirm" type="password" name="passwordConfirm">
                <label class="form-label" for="passwordConfirm" th:text="#{confirm_password}">Confirm password</label>
                <span class="material-symbols-outlined password-viewer-icon">visibility</span>
            </div>
            <div class="form-row" id="registerFormErrors" hidden></div>
            <div class="form-row">
                <button class="button" type="submit" th:text="#{register}">Register</button>
            </div>
            <div class="form-row" th:if="${registerAsAdmin != true}">
                <div class="oidc-providers">
                    <a class="oidc-provider" href="#"
                       th:href="@{'/oauth2/authorization/google_authorization_code_flow'}"
                       onmouseenter="colorRandomize()">Google</a>
                    <a class="oidc-provider" href="#" th:href="@{'/oauth2/authorization/azure_authorization_code_flow'}"
                       onmouseenter="colorRandomize()">Azure</a>
                    <a class="oidc-provider" href="#" th:href="@{'/oauth2/authorization/facebook_implicit_flow'}"
                       onmouseenter="colorRandomize()">Facebook</a>
                </div>
            </div>
            <div class="form-row" th:if="${registerAsAdmin != true}">
                <a class="link" href="login.html" th:href="@{'/login'}" th:text="#{login}">Login</a>
            </div>
        </form>
    </div>
</div>
<div class="theme-switcher">
    <button class="button button-with-icon button-with-icon-circle" onclick="toggleTheme()">
        <span id="themeIcon" class="material-symbols-outlined button-icon">dark_mode</span>
    </button>
</div>
<script src="../static/js/common.js" th:src="@{'/js/common.js'}"></script>
<script>
    const registerForm = document.querySelector("#registerForm");
    registerForm.addEventListener("submit", event => {
        event.preventDefault()
        const formData = new FormData(registerForm);

        new Promise((resolve, reject) => {
            fetch(endpoints.users, {
                method: "post",
                body: JSON.stringify(Object.fromEntries(formData.entries())),
                headers: withCsrfToken(new Headers({
                    'Content-Type': "application/json"
                }))
            }).then(response => {
                response.status === 201 ? resolve() : response.json().then(error => reject(error));
            }).catch(error => new Error(`Error on create user : ${error}`));
        }).then(() => {
            location.assign(endpoints.registered)
        }, error => {
            renderErrors(document.querySelector("#registerFormErrors"), error)
        });
    });
</script>
</body>
</html>